#root {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: #EDEDED;
  display:flex; 
  justify-content:center;
  align-items:center;
  background-image: url(/noise.png);
  background-attachment: fixed;
}

